*,
*::after,
*::before{
    box-sizing: border-box;
}
.generatPassword {
    width: 100%;
    height: 450px;
    background-color: aquamarine;
    display: inline-block;
    justify-content: space-around;
    margin-top: 3%;
    padding: 40px 0;
}
.checkBox {
    font-size: 1.5rem;
    line-height: 3;
    padding-left: 25%;
}
#passwordLength {
    padding: 10px 20px;
    width: 80px;
    background-color: white;
}
#generateButton {
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    background-color: aquamarine;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    background: rgb(213, 225, 225);
    border-radius: 2px;
    border: 1px solid #555;
    margin-right: 15px;
  }  
html, body.wrapper {
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    background-color: aliceblue;
}
.warpper {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
header {
    text-align: center;
    padding: 20px;
    color: aqua;
}
.card {
    background-color: blueviolet;
    border-radius: 4px;
    color: aqua;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
    font-size: 20px;
}
.card-header::after{
    content: " ";
    display: block;
    width: 100%;
    background: white;
    height: 2px;
}
.card-body {
    min-height: 100px;
}
.card-footer {
    text-align: center;
}
.card-footer::before {
    content: " ";
    display: block;
    width: 100%;
    background: white;
    height: 2px;
}
.card-footer::after {
    content: " ";
    display: block;
    clear: both;
}
.btn {
    border: none;
    background-color: blue;
    border-radius: 30px;
    color: white;
    display: inline-block;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding:  14px 34px;
    text-align: center;
    cursor: pointer;
}
button[disabled] {
    cursor: default;
    background: white;
}
.float-right {
    float: right;
}
#password {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    display: block;
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 85px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-bottom: 10px;
    border: 5px #fff;
    border-radius: 6px;
    resize: none;
    overflow: hidden;
}
@media (max-width: 690px) {
    .btn {
      font-size: 1rem;
      margin: 16px 0px 0px 0px;
      padding: 10px 15px;
    }
  
    #password {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 500px) {
    .btn {
      font-size: 0.8rem;
    }
  }