.lorem{

}
.content{
    
}
.surf{
    background: aqua;
    width: 200px;
    border: 90px;
    border-radius: 20px hsl(189, 89%, 52%);
}
.led {

}
.calculator {

}
.puzzels {

}
.runbuddy {

}
body{
    color: blueviolet;
}